btop/
'Code - OSS'
dconf/
Electron/
glib-2.0/

go/
go/telemetry/local/
google-chrome/
gtk-3.0/
JetBrains/
mimeapps.list
mpv/
NuGet/
pulse/
ranger/
unity3d/
unityhub/
user-dirs.dirs
user-dirs.locale
xcfe4/
yay/
ytui_music/
