btop/
'Code - OSS'
Cursor/
dconf/
Electron/
glib-2.0/
github-copilot/
go/
go/telemetry/local/
google-chrome/
hellforge/
heroic/
gtk-3.0/
JetBrains/
menus/
mimeapps.list
mpv/
NuGet/
pavucontrol.ini
pulse/
pupgui/
qBittorrent/
QtProject.conf
retroarch/
simple-update-notifier/
steamtinkerlaunch/
systemd/
ranger/
unity3d/
unityhub/
user-dirs.dirs
user-dirs.locale
xcfe4/
yay/
ytui_music/
