* {
    font-family: "JetBrainsMono", monospace;
    /*color: #00ff00;  Green on black, classic TUI */
    background-color: #000000;
    border: none;
    padding: 0px;
}

#workspaces button{
    border: none;
    color: #9373ff;
    background: #000000;
    padding: 0px 10px;
    opacity: 0.5;
    font-size: 16px;
}

#workspaces button.active {
    background: transparent;
    border-radius: 0px;
    font-weight: 900;
    color: #de0b55;
    opacity: 1;
    text-shadow: 0 0 5px #de0b55;
}

#workspaces button:hover {
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
}

#clock, #cpu, #memory, #pulseaudio, #battery, #network, #power, #window, #temperature, #custom-uptime {
    font-size: 14px;
    font-weight: 900;
    color: #de0b55;
    margin-bottom: -20px;
    text-shadow: 0 0 5px #de0b55;
}

#network, #cpu, #memory, #temperature, #clock {
    padding-right: 10px;
}

.modules-right {
    padding-right: 1px;
}
